- content_for :extra_javascript do
  = javascript_include_tag "https://js.stripe.com/v2/"
- content_for :extra_javascript do
  :javascript

    $(document).ready(function() {
      Stripe.setPublishableKey("#{APP_CONFIG.stripe_publishable_key}");

      var stripeResponseHandler = function(status, response) {
        var $form = $('#payment-form');
        if (response.error) {
          // Show the errors on the form
          $('.payment-errors').show();
          $('.payment-errors').html(response.error.message);
          $form.find('button').prop('disabled', false);
        } else {
          $('.payment-errors').hide();
          console.log("voltou do stripe")
          console.log(response.id);
          // token contains id, last4, and card type
          var token = response.id;
          // Insert the token into the form so it gets submitted to the server
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
          // and re-submit
          $form.get(0).submit();
        }
      };

      $('#payment-form').submit(function(e) {
        console.log("submitiint")
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });

    });

- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}', null);

- content_for :title_header do
  %h1
    = action_button_label
    = link_to(listing[:title], listing_path(listing[:id]))

#new_message_form.centered-section

  - author_link = link_to(author[:display_name], person_path(id: author[:username]))

  .preauthorize-section
    .payment-errors
    %h2.preauthorize-details-title
      = t(".details")

    %ul.no-bullets
      %li
        %div
          = t(".by", listing: link_to("#{listing[:title]}", listing_path(listing[:id])), author: author_link).html_safe

      -# TODO Fix this, no respond_to?
      - if preauthorize_form.respond_to?(:start_on) && preauthorize_form.respond_to?(:end_on)
        %li
          %div
            = l preauthorize_form.start_on, format: :long_with_abbr_day_name
            = "-"
            = l preauthorize_form.end_on, format: :long_with_abbr_day_name
            = "(#{pluralize(duration, t(".day"), t(".days"))})"

        %li
          %div
            = t(".price_per_day", price: humanized_money_with_symbol(listing[:price]))

      %li
        %div
          %strong
            = t("conversations.show.total", total: humanized_money_with_symbol(sum))


        = render partial: "payments/stripe/credit_card_info", locals: {form_action: form_action, preauthorize_form: preauthorize_form}

      .row
        .col-12
          - automatic_confirmation = @current_community.automatic_confirmation_after_days
          %p
            = t(".you_will_be_charged", author: author_link, expiration_period: expiration_period ).html_safe

  %noscript
    = "For security reasons JavaScript has to be enabled"
